.best-services{
	width: 100%;
	min-height: 200px;

	display: flex;
	align-items: center;
	justify-content: center;

	.best-services_container{
		height: 100%;
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		.best-services_title{
			font-family: Nunito;
			color: var(--color-text-1);
		}
		.best-services__cards{
			display: flex;
			align-items: center;
			justify-content: center;
			.b-s__cards-container{
				display: flex;
				align-items: center;
				justify-content: center;
				>*{
					margin: 0 20px 0 0;
				}
			}
		}
	}
}